{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Janus Travel Home</title>
</head>
<body>
    {% block content %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
          <h1 class="display-4 head-font">HEART OF LIGHT MINISTRIES</h1>
          <p class="lead">Committed to the loving people of Phnom Penh, Cambodia, Southeast Asia.</p>
        </div>
      </div>
    {% endblock %}
</body>
</html>